@page "/lab"
@inject IJSRuntime JS

<div style="border-width: 1px; border-style: solid; border-color: silver; border-radius: 16px; line-height: 0px; overflow: clip">
    <div style="display:inline-block; line-height: 0px;">
        <div style="height:60px">

        </div>

        <div style="border-width: 1px 1px 0px 0px; border-style: solid; border-color: silver; border-radius: 0px 16px 0px 0px; overflow: clip">
            <div style="display:inline-block; width:500px; height:600px" id="code_editor">
            </div>

            <div style="display:inline-block; width:500px; height:600px">
            </div>
        </div>
    </div>

    <div style="display:inline-block; width: 160px; vertical-align:top; width: 240px; padding: 16px">

    </div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("v_create_editor");
    }
}