* {
    user-select: none
}

html, body {
    font-family: 'NotoSansArabic', 'CascadiaMono';
}

body {
    min-height: 100vh;
    max-height: 100vh;
}

._c_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    height: calc(100vh - 120px);
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 1px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    font-size: inherit;
}

    select option {
        font-size: inherit;
    }

._c_borderlessinp, ._c_borderlessinp:focus {
    background-color: transparent !important;
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
    user-select: text
}

::-webkit-input-placeholder {
    color: silver;
}

::-moz-placeholder {
    color: silver;
}

input[type="radio"], input[type="checkbox"] {
    width: 8px;
    height: 8px;
    margin: 0px !important;
    vertical-align: middle;
}

._c_input_box {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    padding-top: 7px;
    margin: 10px;
    font-weight: normal !important;
    height: 40px;
    font-size: 16px;
    width: 100%
}

._c_mono {
    font-family: 'CascadiaMono'
}

._c_arabic {
    font-family: 'NotoSansArabic'
}

._c_invisible_scroll {
    scrollbar-width: none;
}

._c_horizontal_scroll {
    overflow-x: scroll;
    direction: rtl
}

._c_vertical_scroll {
    overflow-x: hidden;
    overflow-y: scroll
}

._c_invisible_scroll::-webkit-scrollbar {
    display: none;
}

#top_bar {
    direction: rtl;
}

    #top_bar div {
        padding: 6px;
        margin:6px;
        cursor: pointer
    }

._c_logo {
    width: 315px;
    height: 295px;
    position: absolute;
    z-index: 100;
    left: 0px;
    bottom: 0px;
    background-image: url('/img/logo.png');
    background-position: top right;
    background-size: 390px;
}

._c_header {
    border-bottom: solid;
    border-width: 1px;
    border-color: silver;
    padding-left: 300px;
    padding-right: 300px;
}

._c_inner_header {
    height: 60px;
}

._c_footer {
    height: 60px;
    border-top: solid;
    border-width: 1px;
    border-color: silver;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-top: 16px
}